.createProducts{
    height: 100%;
    padding-left: 100px;
}

.sku{
    display: flex;
    gap: 40px; 
    margin-bottom: 40px;
    margin-top: 20px
}

.sku input{
    background-color: #f7f7f7;
    /* background-color: #969191; */
    border: none;
    width: 25%;
    height: 30px;
}

.qtys{
    display: inline-flex;
    width: 90%;
    margin-bottom: 40px;
}


.qtys input{
    
        background-color: #f7f7f7;
        border: none;
        width: 55%;
        height: 30px;

}

.pname{
    width: 50%;
    display: flex;
    gap: 27px;
}
.qty{
    width: 50%;
    display: flex;
    gap: 27px;
}


.descr label{
    color: #969191;
}

.textarea{
    margin-top: 20px;
    margin-bottom: 50px;
}

.images{
    display: block;
    height: 100px;
    margin-bottom: 40px;
}

.images .para{
    color: #969191; 
    width: 200px;
   
}

.button{
    text-align: right;
    margin-right: 100px;
}
